.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    width: 250px;
    background-color: azure;
    border : 1px grey solid;
    border-radius: 5px;
    padding:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: slategray

}

.item-name {
    padding:10px;
    font-size: 26px;
    text-align: center;
    color: #2ab6ee
}
.color {
    padding: 10px;
}

.favourite {
    padding:10px;
    font-size:12px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.fa-star {
    font-size: 26px;
}

.price {
    padding:10px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.colored {
    color: #2ab6ee
}



.item-top .close {
    color: #2ab6ee;
    font-size: 48px;
    font-weight: lighter;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }