.modal-button {
    background: azure;
    color: #2ab6ee;
    border: none;
  }
  
  body {font-family: Arial, Helvetica, sans-serif;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    background-color: #fefefe;
    width: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 5px;
  
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 48px;
    font-weight: lighter;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  
  .modal-header {
    padding: 2px 16px;
    background-color:  #2ab6ee;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
  
  }
  
  .modal-body {
    padding: 2px 16px;
    background-color: #2ab6ee;
    color: white;
    text-align: center;
    line-height: 34px;
  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #2ab6ee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }